<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>jQuery有动画淡出的二级折叠菜单代码</title>
<SCRIPT src="/site_media/jquery.js" type=text/javascript></SCRIPT>
<SCRIPT>
$(function(){

  $("a").bind("focus",function(){if(this.blur)this.blur();});
/*
  $("#menu > li:first-child").addClass("first_menu");
  $("#menu > li:first-child.current_page_item, #menu > li:first-child.current-cat").addClass("first_menu_active");
  $("#menu > li:last-child").addClass("last_menu");
  $("#menu > li:last-child.current_page_item, #menu > li:last-child.current-cat").addClass("last_menu_active");
  $("#menu li ul li:has(ul)").addClass("parent_menu");
  
  $("#right_col ul > li:last-child").css({marginBottom:"0"});
  $("#comment_area ol > li:even").addClass("even_comment");
  $("#comment_area ol > li:odd").addClass("odd_comment");
  $(".even_comment > .children > li").addClass("even_comment_children");
  $(".odd_comment > .children > li").addClass("odd_comment_children");
  $(".even_comment_children > .children > li").addClass("odd_comment_children");
  $(".odd_comment_children > .children > li").addClass("even_comment_children");
  $(".even_comment_children > .children > li").addClass("odd_comment_children");
  $(".odd_comment_children > .children > li").addClass("even_comment_children");
  $("#guest_info input,#comment_textarea textarea")
    .focus( function () { $(this).css({borderColor:"#33a8e5"}) } )
    .blur( function () { $(this).css({borderColor:"#ccc"}) } );

  $(".search_tag").toggle(function(){
    $(".search_tag").addClass("active_search_tag");
    $("#tag_list ul").animate({ opacity: 'show', height:"show" }, {duration:1000 ,easing:"easeOutBack"});
    return false;
  },function(){
    $("#tag_list ul").fadeTo("slow", 0).slideUp("slow").fadeTo("fast", 1);
    $(".search_tag").removeClass("active_search_tag")
    return false;
  });
 
  $("#trackback_switch").click(function(){
    $("#comment_switch").removeClass("comment_switch_active");
    $(this).addClass("comment_switch_active");
    $("#comment_area").animate({opacity: 'hide'}, 0);
    $("#trackback_area").animate({opacity: 'show'}, 1000);
    return false;
  });
 
  $("#comment_switch").click(function(){
    $("#trackback_switch").removeClass("comment_switch_active");
    $(this).addClass("comment_switch_active");
    $("#trackback_area").animate({opacity: 'hide'}, 0);
    $("#comment_area").animate({opacity: 'show'}, 1000);
    return false;
  });
 
  $("#guest_info input,#comment_textarea textarea")
    .focus( function () { $(this).css({borderColor:"#33a8e5"}) } )
    .blur( function () { $(this).css({borderColor:"#ccc"}) } );
 
  $("blockquote").append('<div class="quote_bottom"></div>');
 
  $(".side_box:first").addClass("first_side_box");
  */
  
});
 
/* 
function changefc(color){
  document.getElementById("search_input").style.color=color;
}
*/ 
 
/*
dropdowm menu
*/
 
var menu=function(){
    var t=15,z=50,ul_list_elems=6,class_name;
    
    function dd(n_menu_id){
        this.n_menu_id=n_menu_id; 
        this.v_parent_node=[]; 
        this.li_elems=[]
    }
    
    dd.prototype.init=function(menu_id,li_elems){
        class_name=li_elems; 
        var menu_elem=document.getElementById(menu_id), 
        ul_list_elems=menu_elem.getElementsByTagName('ul'), 
        len_ul_list=ul_list_elems.length, 
        i=0;
        for(i;i<len_ul_list;i++){
            var v_parent_node=ul_list_elems[i].parentNode; 
            this.v_parent_node[i]=v_parent_node; 
            this.li_elems[i]=ul_list_elems[i];
            
            v_parent_node.onmouseover=new Function(this.n_menu_id+'.st('+i+',true)');
            v_parent_node.onmouseout=new Function(this.n_menu_id+'.st('+i+')');
            
        }
    }
    dd.prototype.st=function(li_index,show_flag){
        var li_elems=this.li_elems[li_index], 
        v_parent_node=this.v_parent_node[li_index], 
        menu_id=v_parent_node.getElementsByTagName('a')[0];
        
        clearInterval(li_elems.t); 
        li_elems.style.overflow='hidden';
        
        if(show_flag){
            menu_id.className+=' '+class_name;
            if(!li_elems.mh){
                li_elems.style.display='block'; 
                li_elems.style.height=''; 
                li_elems.mh=li_elems.offsetHeight; 
                li_elems.style.height=0
            }
            if(li_elems.mh==li_elems.offsetHeight){
                li_elems.style.overflow='visible'
            }
            else{li_elems.style.zIndex=z; 
                z++; 
                li_elems.t=setInterval(function(){show_li(li_elems,1)},t)
            }
        }
        else{
            menu_id.className=menu_id.className.replace(class_name,''); 
            li_elems.t=setInterval(function(){show_li(li_elems,-1)},t)
        }
    }
    
    function show_li(li_elems,show_flag){
        var v_li_offset_height=li_elems.offsetHeight;
        if((v_li_offset_height<=0 && show_flag!=1) || (v_li_offset_height>=li_elems.mh && show_flag==1)){
            if(show_flag==1){
                li_elems.style.filter=''; 
                li_elems.style.opacity=1; 
                li_elems.style.overflow='visible'
            }
            clearInterval(li_elems.t); 
            return
        }
        var d=(show_flag==1)?Math.ceil((li_elems.mh-v_li_offset_height)/ul_list_elems):Math.ceil(v_li_offset_height/ul_list_elems), 
        o=v_li_offset_height/li_elems.mh;
        li_elems.style.opacity=o; 
        li_elems.style.filter='alpha(opacity='+(o*100)+')';
        li_elems.style.height=v_li_offset_height+(d*show_flag)+'px'
    }
    return{dd:dd}
}();
</SCRIPT>

<style type="text/css">
a{text-decoration:none}
.menu ul{
  margin:0 0 0 10px;
  padding:0;
  display:none;
}
.menu ul li{
  height:22px;
  line-height:22px;
  border:none;
}
.menu ul li a{
  font-size:12px;
  font-weight:normal;
  color:#666;
}
.menu ul ul{
  position:absolute;
  z-index:3;
  background:#CC3366;
}
.menu ul ul li{text-indent:10px;padding-right:10px}
.menu ul ul li a{color:#fff}
</style>
</head>

<body>
 <ul class="menu" id="menu">
    <li><a href="#">一级菜单1</a>
      <ul>
        <li><a href="#">二级菜单1</a></li>
        <li><a href="#">二级菜单2</a></li>
        <li><a href="#">二级菜单3</a></li>
      </ul>
    </li> 
    <li><a href="#">一级菜单2</a>
    <ul>
        <li><a href="#">二级菜单1</a>
          <ul>
            <li><a href="#">三级菜单1</a></li>
            <li><a href="#">三级菜单2</a></li>
          </ul>
        </li>
        <li><a href="#">二级菜单2</a></li>
      </ul>
    </li>
 </ul>
 <SCRIPT type=text/javascript>
    var menu=new menu.dd("menu");
    menu.init("menu","menuhover");
</SCRIPT>
</body>
</html>