<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>灰色网页左侧垂直带缓冲的二级折叠菜单-零度对策</title>
<meta name="keywords" content="JS代码,菜单导航,JS广告代码,JS特效代码" />
<meta name="description" content="此代码内容为灰色网页左侧垂直带缓冲的二级折叠菜单，属于站长常用代码，更多菜单导航代码请访问零度对策JS代码频道。" />
<link href="/site_media/box.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="box">
<h2>DOD Dashboard</h2>
    <ul class="menu">
	  <li class="level1"><a href="#">LR13</a>
        <ul class="level2">
          <li><a href="/lte/DOD-Summary/html/DoDSummary_Pair1.htm" target="mainFrame">CL1 RFOA</a></li>
          <li><a href="/lte/DOD-Summary/html/DoDSummary_Pair2.htm" target="mainFrame">CL2 Main</a></li>
        </ul>
      </li>
      <li class="level1"><a href="#">LR14</a>
        <ul class="level2">
        	<li><a href="/lte/DOD-Summary/html/DoDSummary_VOIP.htm" target="mainFrame">VOIP TTIB</a></li>
        	<li><a href="/lte/DOD-Summary/html/DoDSummary_integration.htm" target="mainFrame">Main integration</a></li>
        	<li><a href="/lte/DOD-Summary/html/DoDSummary_OSL.htm" target="mainFrame">SingleLoad/OLC3</a></li>
        	<li><a href="/lte/DOD-Summary/html/DoDSummary_CA.htm" target="mainFrame">CA</a></li>
        	<li><a href="/lte/DOD-Summary/html/DoDSummary_Capacity.htm" target="mainFrame">Capacity</a></li>
        </ul>
      </li>
      <li class="level1"><a href="#">Admin Control</a>
        <ul class="level2">
          <li><a href="http://172.24.186.175/CI/index.htm" target="mainFrame">Suppress &Comments</a></li>
          <li><a href="http://172.24.186.175/EmailConfig/index.htm" target="mainFrame">Mail Alarm</a></li>
        </ul>
      </li> 
      <li class="level1"><a href="http://172.24.186.175/SummarySearch/DoDOverall_search.php" target="mainFrame">DOD Query</a>
      </li>
      <li class="level1"><a href="#">DOD Breakdown</a>
        <ul class="level2">
          <li><a href="http://172.24.186.175/HudsonSummary/Summary_list.php" target="mainFrame">Hudson Report</a></li>
          <li><a href="/lte/DOD-Summary/Monthly/" target="mainFrame">Excel History</a></li>
          <li><a href="/lte/DOD-Report/" target="mainFrame">DOD report</a></li>
        </ul>
      </li> 
      
	  	<li class="level1"><a href="http://135.251.238.190/sw/index.php" target="mainFrame">Auto Software Delivery</a>
      </li>   
    </ul>
</div>

<div class="box">
<h2>TOOLS</h2>
    <ul class="menu">
    <li class="level1"><a href="/lte/contact/main.htm" target="mainFrame">Contact List</a>
      </li>
  	<li class="level1"><a href="/lte/CSPT/main.htm" target="mainFrame">CSPT</a>
      </li>
    <li class="level1"><a href="/lte/ModelMaker/main.htm" target="mainFrame">Model Maker</a>
      </li>
	  <li class="level1"><a href="/lte/TraceDecode/main.htm" target="mainFrame">Trace Decode</a>
      </li>
    <li class="level1"><a href="/lte/EVE/main.htm" target="mainFrame">EVE (ENB Trace Catcher)</a>
      </li>
    <li class="level1"><a href="/lte/checkstatus/server_status.html" target="mainFrame">GPS Server Check</a>
    	</li> 
    </ul>
</div>
<script type="text/javascript" src="/site_media/box.js"></script>

</body>
</html>
